body {
  padding: 0;
  margin: 0;
}
html,
body,
#map {
  height: 100%;
  width: 100vw;
}
.leaflet-control-layers,
.leaflet-bar,
.leaflet-bar a:first-child,
.leaflet-bar a:last-child,
.leaflet-popup-content-wrapper,
.panel,
.form-control,
.alert,
.btn {
  border-radius: 0px;
}
.signin {
  padding: 10px;
}
.glyphicon {
  font-size: 24px;
}
.alert {
  margin-top: 20px;
}
.leaflet-left .leaflet-control-scale {
  margin-left: 10px;
}
